body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333333;
  }
  
  a {
    text-decoration: none;
    font-weight: 600;
    color: #222327;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  
  a:hover {
    color: rgb(194, 184,  42);
  }
  
  .header {
    height: 100vh;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    overflow: hidden;
  }
  
  .login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    -webkit-box-shadow: 0 25px 35px rgba(183, 33, 255, 0.15);
            box-shadow: 0 25px 35px rgba(183, 33, 255, 0.15);
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8vh 5vh 7vh;
    border-radius: 10px;
    height: 33rem;
    
  }
  
  .login-box h2 {
    margin: 0 0 0.9vh;
    font-size: 1.4rem;
    color: #4d4d4d;
  }
  
  .login-box p {
    margin: 0 0 3vh;
    font-size: 0.8rem;
    color: #999999;
  }
  
  .form .form--input-box {
    position: relative;
    text-align: left;
    margin: 0 0 3vh;
  }
  
  .form .form--input-box::after, .form .form--input-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .form .form--input-box::before {
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(194, 184,  42)), color-stop(99%, #222327), to(#222327));
    background-image: linear-gradient(to right, rgb(194, 184,  42) 0%, #222327 99%, #222327 100%);
    right: 100%;
    z-index: 2;
    -webkit-transition: right 500ms;
    transition: right 500ms;
  }
  
  .form .form--input-box input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    line-height: 1.9;
    outline: transparent;
    margin-top: 5vh;
  }
  
  .form .form--input-box label {
    position: absolute;
    top: 23px;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: top 200ms, font-size 200ms;
    transition: top 200ms, font-size 200ms;
  }
  
  .form .form--input-box.focused::before {
    right: 0;
  }
  
  .form .form--input-box.focused:not(.active) label {
    top: 0;
    font-size: 0.7rem;
  }
  
  .form .form--input-box.active label {
    top: 0;
    font-size: 0.7rem;
  }
  
  .form .form--options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    font-size: 0.7rem;
    text-align: left;
  }
  
  .form .form--options > div:last-of-type {
    text-align: right;
  }
  
  .button {
    border: none;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(194, 184,  42)), color-stop(99%, #222327), to(#222327));
    background-image: linear-gradient(to right, rgb(194, 184,  42) 0%, #222327 99%, #222327 100%);
    color: white;
    font-size: 1.2rem;
    padding: 0 6vh;
    line-height: 2.5;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 6vh;
    outline: transparent;
    -webkit-box-shadow: 0 5px 10px rgba(183, 33, 255, 0.2);
            box-shadow: 0 5px 10px rgba(183, 33, 255, 0.2);
  }
  
  .button--block {
    display: block;
    width: 100%;
  }